{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/homepage/mercadona-accueil.jpg" class="d-block mx-lg-auto img-fluid" alt="Supermarché Mercadona" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="lh-1 mb-3">Le catalogue des promotions de Mercadona</h1>
            <p class="lead"> Découvrez notre catalogues de tous nos produits (frais, épicerie sucrée et salée, boissons, etc.), ainsi que toutes nos dernières promotions !</p>
            <a href="/catalogue">
                <button type="button" class="text-light btn-lg px-4 me-md-2"> Voir le catalogue </button>
            </a>
    
        </div>
        </div>
<h2 class="lh-1 mb-3">Retrouvez toutes nos catégories</h2>
<div class="container">
    <div class="row">
    <!-- Catégories -->
    {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <a href="/catalogue">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.label }} </h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    

{% endblock %}
