{% extends 'base.html.twig' %}

{% block title %} Mercadona |Mentions légales {% endblock %}

{% block body %}

<h1> Mentions légales </h1>


<h2 class="align-center py-5">Présentation générale de l'application Green Fit</h2>


<p>La présente application://greenfit-ecf.herokuapp.com/ est la propriété de Monsieur Nicolas BATTÉ</p>

<p>Dénomination sociale :Green Fit</p>

<p>Siret : 887 503 274 00050</p>

<p>Forme juridique : SARL</p>

<p>Siège social : 17 quai du Châtelet - 45000 Orléans</p>

<p>Téléphone : 02 38 39 40 41</p>

<p>E-Mail : contact[arobase]greenfit.fr</p>

<p>Gérant : M. Nicolas BATTÉ</p>

<p>Directeur de publication : M. Nicolas BATTÉ</p>


<h2 class="align-center py-5">Hébergement</h2>


<p>HEROKU</p>

<p>Société Anonyme HEROKU au capital de 25 102 840 €</p>

<p>N° 378 499 123 – RCS Paris</p>

<p>Siège Social : 12 avenue Saint Marc – 93100 MONTREUIL SOUS BOIS</p>

<p>N° Téléphone : 01 02 03 04 05</p>

<p>Web : www.heroku.com</p>

<p>Email : info@heroku.com</p>

<h2 class="align-center py-5">Contenu</h2>

<p>Le responsable de la publication de l'application est M. Nicolas BATTÉ en sa qualité de directeur de publication.</p>

<p>Sera appelé « internaute », l’usager de l'application https://greenfit-ecf.herokuapp.com/</p>

<h2 class="align-center py-5">Crédit</h2>

<p>Application conçue et réalisée par Jérôme OLLIVIER</p>

{% endblock %}
