/*
------------------------------------------------
Table of contents
------------------------------------------------
01. reset css
02. fonts
03. global styles
04. header
05. footer
06. contact
07. homepage
08. login
09. responsive CSS


/******************/
/* 01 - RESET CSS */
/******************/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
}



/**************/
/* 02 - FONTS */
/**************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 32px;
    color: #00AB60;
}



/*****************/
/* GLOBAL STYLES */
/*****************/

a {
    text-decoration: none;
    color: #00AB60;
}

button {
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    transition :0.6s;
}

button:hover {
    background-color: #2bf29c;
}

.btn-create {
    background-color: #00AB60;
}

.btn-create:hover {
    background-color: #2bf29c;
}

.btn-delete {
    background-color: #ee0a0a;
    color: white;
}

.btn-delete:hover {
    background-color: #f55959;
}

.btn-modificate {
    background-color: #C81ED7;
}

.btn-modificate:hover {
    background-color: #e263ed;
}

.btn-create a,
.btn-delete a,
.btn-modificate a{
    color: white
}
.btn-create a,
.btn-delete a {
    color: white;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-home {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card-home .card-image {
    width: inherit;
    height: inherit;
    border-radius: 30px;
}

.card-home .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
    object-fit: cover;
}

.card-home .card-title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: 800;
    font-size:24px;
    margin-top: -80px;
    height: 40px;
}

.card-home .card-title p {
    font-weight: 700;
    letter-spacing: 1.2px;
    color: white;
    font-size: 22px;
}

.card-home:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    text-transform: uppercase;
    color: white;  
}

@media all and (max-width: 500px) {
    .card-list {
    flex-direction: column;
    }
}


/*****************/
/* PRODUCT CARDS */
/*****************/


.product-card-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card2{
    margin-top: 30px;
    border: 1px solid black;
}
.product-price {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 10px;
}

.old-price {
    text-decoration: line-through;
}

.f-green {
    color: #03cc75;
}

.f-red{
    color: #f32f2f}

#welcome-message {
    margin-right: 20px;
}

/************/
/* TABLEAUX */
/************/


th {
    text-transform: uppercase;
    font-weight: 600;
}

.blue {
    color: rgb(95, 136, 224);
}
.green {
    /* color: var(--green); */
    color: #00AB60;
}

.purple {
    color: rgb(200, 30, 215);
}
.red {
    color: red;
}



/***************/
/* FORMULAIRES */
/***************/

.form-error {
    color: red;
}

label {
    font-weight: 600;
    margin-top: 1.6em;
}