<div class="container">
<header>
</header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="/">
            <img src="/images/logo_mercadona.png" alt="Logo de Mercadona">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link" aria-current="page" href="/admin/dashboard"> Dashboard </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/categories"> Catégories</a></li>
                        <li><a class="dropdown-item" href="/admin/produits"> Produits </a></li>
                        <li><a class="dropdown-item" href="/admin/utilisateurs"> Utilisateurs </a></li>
                    </ul>
                </li>
            {% else %}
                <a class="nav-link" aria-current="page" href="/"> Accueil </a>
            {% endif %}
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/catalogue">Catalogue</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        
        </ul>
        
        {% if app.user %}
            <span class="text-dark pt-2 pr-2" id="welcome-message">Bienvenue {{ app.user.firstname}}</span>
            
            <a href="/deconnexion" class="logout" >
                <i class="fa-solid fa-arrow-right-from-bracket"></i> 
                Se déconnecter 
            </a>
            
        {% else %}
            <a href="/connexion" class="login" >
                <i class="fa-regular fa-user"></i> 
                Se connecter
            </a>
        {% endif %}

        </div>
    </div>
    </nav>
</div>