<div class="container">
<header>
</header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="/">
            <img src="/images/logo_mercadona.png" alt="Logo de Mercadona">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link active" aria-current="page" href="/admin/dashboard"> Dashboard </a>
            {% else %}
                <a class="nav-link active" aria-current="page" href="/"> Accueil </a>
            {% endif %}
            </li>
            
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Catégories</a></li>
                        <li><a class="dropdown-item" href="#"> Produits </a></li>
                        <li><a class="dropdown-item" href="#"> Promotions </a></li>
                        <li><a class="dropdown-item" href="#"> Utilisateurs </a></li>
                    </ul>
                </li>
            {% endif %}

            <li class="nav-item">
            <a class="nav-link" href="/catalogue">Catalogue</a>
            </li>

            <li>
                <button class="navbar-btn btn btn-sm btn-primary lift ms-auto"> Contact </button>
            </li>
        </ul>
        
        {% if app.user %}
            <a href="/deconnexion" class="logout" ><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter </a>
        {% else %}
            {# <a href="/connexion" class="login" >
                <i class="fa-solid fa-arrow-right-to-bracket"></i>  #}
            <a href="/connexion" class="login" >
                <i class="fa-regular fa-user"></i> 
                Se connecter</a>
        {% endif %}

        </div>
    </div>
    </nav>
</div>