{% extends 'base.html.twig' %}

{% block title %} Mercadona | Politique de confidentialité et Cookies {% endblock %}

{% block body %}

<h1 class="text-center my-5"> Politique de confidentialité et Cookies </h1>

<p class="my-5"> La présente Politique de confidentialité de Mercadona, vous informe de la manière dont nous recueillons et traitons vos données personnelles. Nous vous invitons à la lire attentivement </p>

<h2 class="align-center py-5"> Qui sommes-nous ? </h2>
<p> L’adresse de notre site Web est : https://mercadona-ecf.herokuapp.com </p>


<h2 class="align-center py-5"> Utilisation des données personnelles collectées </h2>
<p> Les données personnelles collectées à travers les formulaires de contact sont: </p>
<ul>
    <li> Nom </li>
    <li> Adresse e-mail </li>
    <li> Ville </li>
    <li> Numéro de téléphone </li>
</ul>
<p> Ces données sont gardées en interne et ne sont partagées avec aucune autre entité, sauf autorisation énoncée clairement par la personne concernée (auprès de nos partenaires par exemple pour une continuité de prestation).  </p> 

<h3 class="align-center py-5"> Formulaires de contact </h3>
<p> Nous conservons les soumissions d’un formulaire de contact pendant une période infinie pour les questions liées au service client, mais que nous n’utilisons pas vos données à des fins commerciales, sauf si une demande de ce type est explicitement énoncée au sein de ce formulaire de contact. </p>

<h3 class="align-center py-5"> Cookies </h3>
<p> Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.

Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.

En modifiant ou en publiant un article, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’identifiant de l’article que vous venez de modifier. Il expire au bout d’un jour. </p>

<h2 class="align-center py-5"> Utilisation et transmission de vos données personnelles </h2>
<p> Nous ne partageons aucune de vos informations personnelles avec personne. </p>

<h2 class="align-center py-5"> Durées de stockage de vos données </h2>
<p> Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.</p>
<p>Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site (si cela est possible), nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur nom d’utilisateur·ice). Les gestionnaires du site peuvent aussi voir et modifier ces informations. </p>

<h2 class="align-center py-5"> Les droits que vous avez sur vos données </h2>
<p> Si vous avez un compte ou si vous avez laissé des commentaires sur le site www.mercadona-ecf.herokuapp.com , vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
</p>

<h2 class="align-center py-5"> Transmission de vos données personnelles </h2>
<p> Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.
</p>

<h2 class="align-center py-5"> Information de contact </h2>
<p> Pour toute information, vous pouvez nous contacter par Mail : contact[arobase]mercadona.fr </p>

{% endblock %}
