{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1> Voici la page de Catalogue ✅</h1>

    
</div>
{% endblock %}
